span.f{
  font-size: 80%;
  display:block-inline;
  color:white;border-radius: 3px;
  padding:1px 3px;
  margin-right:4px;
}

.thumb{
  width:82px;
  overflow: hidden;
  display:inline-block;
  border:1px solid gray;
  margin:1px;
  -webkit-border-radius: 3px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius: 3px;
  -moz-border-radius-topleft: 4px;
  border-radius: 3px;
  border-top-left-radius: 4px;
}

.triangle-border {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  border: 5px solid rgb(204,204,255);
  color: #333;
  text-align: left;
  background: #fff;
/* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Variant: for left positioned triangle------------------------------------------ */
.triangle-border.left {
  margin-left: 30px;
}
/* Variant: for right positioned triangle------------------------------------------ */
.triangle-border.right {
  margin-right: 30px;
}
/* THE TRIANGLE------------------------------------------------------------------------------------------------------------------------------- */
.triangle-border:before {
  content: "";
  position: absolute;
  bottom: -20px;
/* value = - border-top-width - border-bottom-width */
  left: 40px;
/* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: rgb(204,204,255) transparent;
/* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}
/* creates the smaller  triangle */
.triangle-border:after {
  content: "";
  position: absolute;
  bottom: -13px;
/* value = - border-top-width - border-bottom-width */
  left: 47px;
/* value = (: before left) + (: before border-left) - (: after border-left) */
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
/* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}
/* Variant: top------------------------------------------ */
/* creates the larger triangle */
.triangle-border.top:before {
  top: -20px;
/* value = - border-top-width - border-bottom-width */
  bottom: auto;
  right: auto;
  left: 40px;
/* controls horizontal position */
  border-width: 0 20px 20px;
}
/* creates the smaller  triangle */
.triangle-border.top:after {
  top: -13px;
/* value = - border-top-width - border-bottom-width */
  bottom: auto;
  right: auto;
  left: 47px;
/* value = (: before right) + (: before border-right) - (: after border-right) */
  border-width: 0 13px 13px;
}
/* Variant: left------------------------------------------ */
/* creates the larger triangle */
.triangle-border.left:before {
  top: 10px;
/* controls vertical position */
  bottom: auto;
  left: -30px;
/* value = - border-left-width - border-right-width */
  border-width: 15px 30px 15px 0;
}
/* creates the smaller  triangle */
.triangle-border.left:after {
  top: 16px;
/* value = (: before top) + (: before border-top) - (: after border-top) */
  bottom: auto;
  left: -21px;
/* value = - border-left-width - border-right-width */
  border-width: 9px 21px 9px 0;
}
/* Variant: right------------------------------------------ */
/* creates the larger triangle */
.triangle-border.right:before {
  top: 10px;
/* controls vertical position */
  bottom: auto;
  left: auto;
  right: -30px;
/* value = - border-left-width - border-right-width */
  border-width: 15px 0 15px 30px;
  border-color: transparent rgb(204,204,255);
}
/* creates the smaller  triangle */
.triangle-border.right:after {
  top: 16px;
/* value = (: before top) + (: before border-top) - (: after border-top) */
  bottom: auto;
  left: auto;
  right: -21px;
/* value = - border-left-width - border-right-width */
  border-width: 9px 0 9px 21px;
  border-color: transparent #fff;
}

div.cbox {
  background-color: #FFFFFF;
}

.cbox_date {
  font-size: 62.5%;
  text-align: right;
  font-family: Arial;
  margin: 8px 0px 2px;
  color:#a0a0a0;
}

.cbox_ip {
  font-size: 62.5%;
  color: rgb(204,102,0);
  font-family: Arial;
  margin-bottom: 2px;
}

.cbox_publisher {
  color: rgb(80,80,80);
  font-weight: normal;
  display: inline;
}

.lock_msg {
  color: red;
}

div.remsg {
  color: rgb(102,153,0);
  display: inline;
}

table.cbox_tbl {
  width: 100%;
  padding: 0px;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

table.cbox_tbl td {
  padding: 1px;
}

table.cbox_tbl td.title {
  background-color: transparent;
  color: rgb(0,0,0);
  text-align: right;
  vertical-align: middle;
}

table.cbox_tbl td.col {
  background-color: transparent;
}

table.cbox_tbl input.name {
  background-color: rgb(237,243,247);
  border: 1px solid rgb(217,223,227);
  color: rgb(80,80,80);
  padding: 1px 3px 1px 3px;
}
textarea#DiscussContent {
  width: 100%;
  height: 60px;
  background-color: rgb(237,243,247);
  border: 1px solid rgb(217,223,227);
  color: rgb(80,80,80);
  padding: 1px 3px 1px 3px;
}

.need_login {
  font-size: 92%;
  color: rgb(51,102,0);
  border: 1px dotted #dfdfdf;
  width: 90%;
  height: 80%;
  margin: 10px auto 10px auto;
  vertical-align: middle;
  text-align: center;
}
/* #jCarouselLiteDemo */
.carousel {
  padding: 1px 0 0 0;
  margin: 0 0 2px 2px;
  position: relative;
}
.carousel button {
/*Don't remove this. we still use this for individual demos. only the front pages use images as of now*/
  float: left;
}
.carousel a.prev, .carousel a.next {
  display: block;
  float: left;
  width: 19px;
  height: 19px;
  text-decoration: none;
  background: url("images/imageNavLeft.gif") left 0px no-repeat;
}
.carousel a.next {
  background: url("images/imageNavRight.gif") right 0px no-repeat;
}
.carousel a.next:hover {
  background-image: url("images/imageNavRightHover.gif");
}
.carousel a.prev:hover {
  background-image: url("images/imageNavLeftHover.gif");
}
.carousel a:hover, .carousel a:active {
  border: none;
  outline: none;
}
.carousel .jCarouselLite {
  margin-left: auto;
  margin-right: auto;
  border: 0px solid black;
  float: left;
  background-color: transparent;
/* Needed for rendering without flicker */
  position: relative;
  visibility: hidden;
  left: -5000px;
}
.carousel ul {
  margin: 0;
}
.carousel li img, .carousel li p {
  background-color: transparent;
  width: 19px;
  height: 19px;
  margin: 1px;
}
td#smile {
  background-color: rgb(240,240,240);
}

.error_bg{
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}