<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="screen" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />

<{if $op=="tad_discuss_board_form"}>
<h1><{$smarty.const._MA_TAD_DISCUSS_BOARD_FORM}></h1>

	<{$formValidator_code}>
  <script src="<{$xoops_url}>/modules/tadtools/multiple-file-upload/jquery.MultiFile.js"></script>
	<form action="main.php" method="post" id="myForm" enctype="multipart/form-data">
	<div class="controls controls-row">
  	<!--討論區名稱-->
    <input type="text" name="BoardTitle" value="<{$BoardTitle}>" id="BoardTitle" class=" span6 validate[required]" placeholder="<{$smarty.const._MA_TADDISCUS_BOARDTITLE}>" class="span8">

    <div class="span1"></div>
    <div class="span3">
      <!--狀態-->
      <label class="radio inline">
        <input type="radio" name="BoardEnable" id="BoardEnable_1" value="1" <{$BoardEnable1}>><{$smarty.const._TAD_ENABLE}>
      </label>
      <label class="radio inline">
        <input type="radio" name="BoardEnable" id="BoardEnable_0" value="0" <{$BoardEnable0}>><{$smarty.const._TAD_UNABLE}>
      </label>
    </div>
  </div>



	<div class="controls controls-row">
  	<!--討論區說明-->
    <textarea name="BoardDesc" cols="50" rows=4 id="BoardDesc" class="span6" placeholder="<{$smarty.const._MA_TADDISCUS_BOARDDESC}>"><{$BoardDesc}></textarea>
    <div class="span1"></div>
  	<!--討論區圖片-->
  	<div class="span5">
  	<input type="file" name="upfile[]" class="multi" maxlength="1" accept="gif|jpg|png|GIF|JPG|PNG" placeholder="<{$smarty.const._MA_TADDISCUS_BOARDPIC}>">
    <br><{$list_del_file}>
    </div>
  </div>



	<div class="controls controls-row">
  	<!--讀取權限-->
    <div class="span3"><{$smarty.const._MA_TADDISCUS_READ_POWER}><{$enable_read_group}></div>
  	<!--寫入權限-->
    <div class="span3"><{$smarty.const._MA_TADDISCUS_POST_POWER}><{$enable_post_group}></div>
  	<!--板主-->
    <div class="span3"><{$smarty.const._MA_TADDISCUS_BOARDMANAGER}><{$user_menu}></div>
  </div>

	<div class="controls controls-row text-center">
    <!--討論區編號-->
  	<input type="hidden" name="BoardID" value="<{$BoardID}>">
		<input type="hidden" name="op" value="<{$next_op}>">
		<button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
  </div>

	</form>
<{else}>


  <{$jquery}>

  <script type="text/javascript">
  $(document).ready(function(){
      $("#sort").sortable({ opacity: 0.6, cursor: "move", update: function() {
          var order = $(this).sortable("serialize");
          $.post("save_sort.php", order, function(theResponse){
              $("#save_msg").html(theResponse);
          });
      }
      });
  });


  function delete_tad_discuss_board_func(BoardID){
  	var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
  	if (!sure)	return;
  	location.href="main.php?op=delete_tad_discuss_board&BoardID=" + BoardID;
  }
  </script>

  <{if $all_content}>
  
    <div id="save_msg"></div>
    
    <table class="table table-striped">
    <tr>
      <th colspan=2><{$smarty.const._MA_TADDISCUS_BOARDTITLE}></th>
      <th><{$smarty.const._MA_TADDISCUS_AMOUNT}></th>
      <th><{$smarty.const._MA_TADDISCUS_BOARDMANAGER}></th>
      <th><{$smarty.const._MA_TADDISCUS_BOARDENABLE}></th>
      <{$function_title}>
    </tr>

    <tbody id="sort">
      <{foreach item=all from=$all_content}>
      <tr id="tr_<{$all.BoardID}>" style="background-color:<{$all.color}>;">
        <td><img src="<{$all.pic}>" alt="<{$all.BoardTitle}>" title="<{$all.BoardTitle}>" class="img-polaroid"></td>
        <td>
        <div><a href="main.php?BoardID=<{$all.BoardID}>"><{$all.BoardTitle}></a></div>
        <div style="width:300px;font-size:12px;color:gray;margin:8px 0px"><{$all.BoardDesc}></div>
        </td>
        <td>
        <div style="margin:6px 0px;"><{$all.BoardNum}></div>
        <div><{$all.BoardNum2}></div>
        </td>
        <td><{$all.BoardManager}></td>
        <td><{$all.BoardEnable}></td>
        <{$all.fun}>
      </tr>
      <{/foreach}>
    </tbody>

    </table> 
  <{/if}>
    
  <a href="main.php?op=tad_discuss_board_form" class="btn btn-info"><{$smarty.const._MA_TADDISCUS_ADD_BOARD}></a>
<{/if}>