<h2><{$BoardTitle}></h2>
<{$formValidator_code}>
<link rel="stylesheet" type="text/css" media="screen" href="reset.css" />
<script type="text/javascript" src="class/nicEdit.js"></script>
<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<script src="<{$xoops_url}>/modules/tadtools/multiple-file-upload/jquery.MultiFile.js"></script>
<form action="discuss.php" method="post" id="myForm" enctype="multipart/form-data">
  <{if $display_mode=="top" || $display_mode=="bottom"}>
    <{includeq file="db:tad_discuss_talk_bubble_vertical.html"}>
  <{elseif $display_mode=="mobile"}>
    <{includeq file="db:tad_discuss_mobile.html"}>
  <{elseif $display_mode=="clean"}>
    <{includeq file="db:tad_discuss_clean.html"}>
  <{elseif $display_mode=="default"}>
    <{includeq file="db:tad_discuss_talk_bubble.html"}>
  <{else}>
    <{includeq file="db:tad_discuss_bootstrap.html"}>
  <{/if}>
</form>